<div>
    <a routerLink="">GO BACK</a>
    <div>
    <div>
      {{post.title}}
    </div>
        <form>
          <div class="form">
            <label>Title</label>
            <input type="text" name="title" [(ngModel)]="post.title">
          </div>
          <div class="form">
            <label>Body</label>
            <textarea name="body" [(ngModel)]="post.body"></textarea>
          </div>
          <button type="button" class="btn btn-success" (click)="save()">Save</button>
      
        </form>
      </div>
</div>